<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
         <link rel= "stylesheet" href="https://bootswatch.com/5/cyborg/bootstrap.min.css">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">HOME
                            <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/loisir">LOISIR</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/cv">CV</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="/Eportfolio">EPORTFOLIO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block body %} {% endblock %}
        </div>
    </body>
<style>
       
 
.black-theme {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
}
.navbar {
    background-color: black !important; 
    border-bottom: 2px solid #004080; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    margin-top: 60px; 
}
.navbar .navbar-brand,
.navbar .nav-link {
    color: white !important;
    padding: 20px;
    margin-right: 30px;
    font-family: serif;

}

.navbar .nav-link:hover {
    color: #004080 !important; 
}


p {
    line-height: 1,5; 
    text-align: justify ; 
    color: white;
    padding: 10px;
    font-size: 20px;
}
 footer {
            color: black; /* Couleur du texte */
            text-align: center;
            padding: 10px 0;
        }

</style>
    <footer>
        &copy; 2025 Baye Niass Gueye - Tous droits réservés.
    </footer>
</html>
