{% extends "base.html.twig" %}
{% block body %} 
        <style>
            body {

                background-color: grey;
                background-size: cover;

                background-repeat: no-repeat;

            }

        </style>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        <span class="navbar-toggler-icon"></span>
                    </button>

    <body>
        <style>
            body{
                background-color: rgb(240, 240, 240);
                background-repeat:no-repeat;
                background-size: 100%;
            }
            .ro{
                text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .circular{
                display: flex;
                justify-content: center;
                align-items: center;

            }
            .user img{
                height: 20rem;
                width: 20rem;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 1rem;
                border: 1rem solid var(--yellow);
                align-items: center;
            }
            :root{
                --yellow:#f9ca24;
            }
            *::selection{
                background: var(--yellow);
                color: #333;
            }
            .strong h3 {
                color:white;
            } 
                
        </style>
        
        <section class="cc-ma merriweather py-5">
            <div class="container">
                <div class="row">
                    <h3 class="text-center text-light merriweather"><strong>Eportfolio</strong></h3>
                        <div class="circular">
                            <div class="user">
                                <img src={{asset('image/aissatou.jpg')}}>
                            </div>
                        </div>
                    <div class="card bg-transparent text-center mb-4">

                        <div class="card-body text-light">
                            <h5 class="card-title">Ma formation de compétence</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card">
                            <img src={{asset('Image_du_site/cisco.jpg')}} width="100px" height="450px" class="card-img-top" alt="..." />
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Configurer les fonctions de base du réseau local </h5>
                                <p class="card-text">
                                    Faire de la configuration de switch attribuer des vlans,mettre en mode trunk ou access
                                    à des ports pour qu'il puisse communiquer.<br>j'arrive à identifier le dysfonctionnement du reseau local avec plus de pratique en R1.01b puis avec R1.03 je me suis plus appliqué avec les tp en connectant les pc sur cisco pour configurer le switch et recuperer les données qui sont dans le serveur tftp avec putty puis avec R1.02 je me suis plus approfondi sur le réseau avec l'analyse des trames l'encapsulation des trames avec scapy                  
                                    Donc je vais plus m'y accrochez pour accéder à un niveau plus haut.
                                    <a href="https://docs.google.com/document/d/15lKMx9Tma8DYaOHfyfQM8eG1m5bOZ9qBLNQFKIENink/edit?usp=sharing">ConfigurationCISCO</a>
                                </p>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="col d-sm-none d-md-block">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"> Connaître l’architecture et les technologies d’un site Web</h5>
                                <p class="card-text">
                                   faire du développement web sa me semble intéressant et j'adore<br>Créer des outils et applications informatiques pour les R&T je peux dire que c'est facile à faire car j'aime bien le faire et plus tu créer des pages plus tu découvres de nouveaux choses <br>
                                   <a href="https://docs.google.com/document/d/1B4rL5xAlYqVtPww3O0naLpX7pROPukbMm4k3n0hPsc0/edit?usp=sharing">Site web</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-sm-none d-md-block">
                        <div class="card">
                            <img src={{asset('Image_du_site/site.jpg')}} width="100px" height="260px" class="card-img-top" alt="..." />
                        </div>
                    </div>
                    <div class="col d-sm-none d-md-block">
                        <div class="card">
                                <img src="Image_du_site/réseau.jpeg" width="100px" height="210px" class="card-img-top" alt="..." />
                        </div>
                    </div>
                    <div class="col d-sm-none d-md-block">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Déployer des supports de transmissions </h5>
                                <p class="card-text">
                                        j'arrive mesurer les Wi-Fi, j'arrive à mesurer aussi les cuivre(cables) et j'arrive à faire les dévis j'arrive à déployer des supports de transmission  <br>
                                        <a href="https://docs.google.com/spreadsheets/d/1JNi_I0QEIW0hupjKaSeQHalXFxDXoK0G/edit?usp=sharing&ouid=113514001507719097219&rtpof=true&sd=true">Tableau de mesure de wifi des batiments de l'IUT</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</h5>
                                <p class="card-text">
                                    J'ai maitrisé les calculs ainsi que les applications géométriques, trigonométrique et les équations
                                    <a href="https://docs.google.com/document/d/1fjgfqiMbweU0P0vxs361i1CcXbnt0nFu6DBN1Qcp5mw/edit?usp=sharing">Outil mathématique</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col d-sm-none d-md-block">
                        <div class="card">
                                <img src={{asset('Image_du_site/math.png')}} width="100px" height="220px" class="card-img-top" alt="..." />
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        </section>
        
   
    <body>
</html>
{% endblock %}
