{% extends "base.html.twig" %}

{% block body %}
<div class="container mt-4">

   <title>About Me</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: beige; 
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            display: flex;
            align-items: center;
            max-width: 800px;
            padding: 20px;
        }

        .profile-image {
            width: 450px;
            height: 200px;
            border-radius: 50%;
            margin-left: 20px;
            object-fit: cover;
        }

        .about-me {
            max-width: 600px;
            color: black;
        }

        .about-me h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

        .about-me p {
            font-size: 1rem;
            line-height: 1.6;
            color : black;
            padding: 10px;
        }

        .btn {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #00bcd4; 
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color: #0097a7; 
        }
         h1 {
            color: black;
            text-align: center;
            margin-top: 20%;
            font-size: 2.5rem;
            text-shadow: 2px 2px 4px rgb(85, 85, 85); 
        
        }
        .about-me h3{
            color: black;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="about-me">
            <h1>WELCOME TO MY WORLD</h1>
            <h3>About Me</h3>
            <p>
                Hello! My name is Baye Niass Gueye. I am a Network and Telecommunications student.  
                Passionate about technology, I enjoy solving challenges related to networking, security, and communication systems.  
                I am always eager to learn and explore new opportunities in the field of telecommunications.
                So, I am going to introduce you to my personal blog.
            </p>
        </div>
        <img src="Image_du_site/Moi.jpg" alt="Profile Image" class="profile-image">
    </div>
   
</body>

    
</html>

{% endblock %}

