{% extends "base.html.twig" %}

{% block body %}
<div class="container mt-4">
    <h2><em>WELCOME TO MY WORLD</em></h2>

    <!-- Section About Me -->
    <section class="about-me mt-5">
        <h3>About Me</h3>
        <p>
            Hello! My name is Baye Niass Gueye. I am a Network and Telecommunications'student.  
            Passionate about technology, I enjoy solving challenges related to networking, security, and communication systems.  
            I am always eager to learn and explore new opportunities in the field of telecommunications.
            So, I am going to introduce you my personal blog.
        </p>
    </section>
</div>

{% endblock %}

